<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %C::%t:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.thesmartenergy.sparql.generate.jena.function.library" level="info">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="com.github.thesmartenergy.sparql.generate.jena.iterator.library" level="info">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
